.entity_list.ui.styled.accordion
  = fragment do
    - if container.block
      - container.block.call(container)
    - container.lists.each do |id, list, text, options|
      - if Proc === list
        = fragment do
          - list = list.call
          - next if list.nil?
          .title
            = list.respond_to?(:list_link) ? list.list_link(:length, id) : list.length
            %span.title
              - title = text || id 
              = title.sub('--', '&#8212;').sub('->', '&#8680;')
          .content 
            - if (defined? force and force) or list.length < 500
              - if list.respond_to? :link
                = list.link * ", "
              - else
                = list * ", "
            - else
              = modal_fragment "Too many entities to list" do
                - if list.respond_to? :link
                  = list.link * ", "
                - else
                  = list * ", "
      - else
        - if list.empty?
          .title
            = 0
            %span.title
              - title = text || id 
              = title.sub('--', '&#8212;').sub('->', '&#8680;')
        - else
          .title
            = list.respond_to?(:list_link) ? list.list_link(:length, id) : list.length
            %span.title
              - title = text || id 
              = title.sub('--', '&#8212;').sub('->', '&#8680;')
          .content
            - if (defined? force and force) or list.length < 500
              - if list.respond_to? :link
                = list.link * ", "
              - else
                = list * ", "
            - else
              = reveal "Too many entities to list" do
                = fragment do
                  - if list.respond_to? :link
                    = list.link * ", "
                  - else
                    = list * ", "


